*{
    position: relative;
}
#logo,#search,#sign,#return,#cart > *{
    display: flex;
    margin: 10px;
}
html{
    width: 1257px;
    background-color: rgb(221, 220, 220);
}
.container1 {
    flex-direction: column;
    align-items: center;
    background-color: rgb(21, 29, 40);
    height: 60px;
    width: 1257px;
    left: 120px;
    position: relative;
    top: -10px;
    padding-top: 3px;
}
header{
    position: relative;
    
}
#delivery{
    position: relative;
    left: -110px;
    top: -3px;
}
a{
    text-decoration: none;
    color: white;
}
h4{
    font-size: 20px;
    color: white;
}
#search{
   height: 40px;
   position: relative;
   top:  -10px;
   left: -90px;
   border-radius: d d 8px d ;
   
}
#selector{
    width: 55px;
    height: 40px;
    color: rgb(150, 144, 144);
    position: relative;
    top: -0.5px;
    background-color: rgb(231, 231, 226);
    left: 25px;
    border: d;
    border-radius: 4px d d 4px;
    padding-left: 10px;
    
    
}

#update{
    position: relative;
    top: -28px;
    font-size: 16px;
}
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#delivery-text{
    position: relative;
    top: -5px;
    font-size: 13px;
    color: rgb(170, 175, 175);
    font-weight: 20px;
    width: 150px;
}
#search-button{
    background-color: rgb(245, 198, 127);
    border-radius: d 4px 4px 0px ;
    border: none;
    position: relative;
    left: -25px;
    height: 39.5px;
    top: 0.3px;
    width: 50px;
    
}
#search-box{
    position: relative;
    left: 24px;
    width: 500px;
    border-radius: 0px 8px 8px 0px ;
    border: none;
}
#en{
    height: 40px;
    background-color: rgb(30, 28, 46);
    position: relative;
    left: -140px;
    color: white;
    border: none;
    width: 40px;
    font-weight: 500;
    
}
#EN{
    position: relative;
    left: 40px;
    font-weight: 40px;
    width: 50px;
}
#sign{
    position: absolute;
    left: 892px;
    display: inline-block;
    top: -9px;
    font-size: 15px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 20px;
    width: 280px;
}
#account{
    position: absolute;
    left: 900px;
    display: inline-block;
    top: -4px;
    height: 40px;
    font-size: 16px;
    width: 300px;
}
#return{
    position: relative;
    left: 40px;
    color: white;
    top: -14px;
    font-weight: 400;
    width: 140px;
}
#order{
    position: relative;
    left: -55px;
    top: -10px;
    width: 200px;
}
#cart{
    position: relative;
    left: 0px;
}
#logo{
    width: 1207px;
}
#spacer{
    background-color: rgb(53, 58, 82);
    height: 40px;
    width: 1357px;
    position: relative;
    top: -60px;
    left: -150px;
}
#hidden{
    background-color: #343956;
    width: 350px;
   
    top: -9px;
    left: -150px;
    height: 59px;
}
#imag{
    height: 70px;
    width: 200px;
    position: relative;
    left: 10px;
    top: -11px;
}
#container2{
    height: 40px;
    width: 1467px;
    position: relative;
    display: flex;
    justify-content: space-around;
    top: 89px;
    font-size: 11px;
    left: 30px;
    background-color: rgb(53, 58, 82);
}
#container2 > *{
    
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding: 10px;
}

main{
    background: #eef2ed;
    background-size: cover;
    height: 600px;
    position: relative;
    top: 211px;
    left: -7px;
    width: 1347px;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}
.slider{
    width:1350px;
    height:750px;
    overflow:hidden;
    position:absolute;
    top: -180px;
    }

    .slides{
      display:flex;
      width:1500px;
      height:400px;
      transition:transform 0.3s linear;
    }

    .slides img{
      width:1600px;
      height:950px;
      object-fit:fill
    }
#slide1{
    height: 500px;
    width: 1400px;
}
#slide4{
    height: 840px;
    width: 1600px;
    }
#slide2{
    width: 1560px;
    height: 610px;
}
#slide3{
    width: 1400px;
    height: 950px;
}
#slide5{
    height: 610px;
    width: 1360px;
    border: 2px solid rgb(187, 184, 184);
}

    .buttons{
      position:absolute;
      width:1300px;
      top:20px;
      transform:translateY(-200%);
      display:flex;
      justify-content:space-between;
      padding:0 10px;
      height: 60px;
      left: 10px;
    }

    .buttons button{
      width:50px;
      height:-50px;
      border:none;
      border-radius:50%;
      background:rgba(255,255,255,0.5);
      cursor:pointer;
      position: relative;
      font-size:22px;
      font-weight:bold;
      top: 270px;
      z-index: 2;
    }

    .buttons button:hover{
      background:white;
    }
#Sneaker,h3{
    position: absolute;
    left: 390px;
    top: 80px;
    color: rgb(69, 66, 66);
    font-weight: 600;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#top-brands{
    position: absolute;
    left: 390px;
    top: 180px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(8, 8, 8);
}
#latest-trends{
    position: absolute;
    left: 480px;
    top: 180px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(15, 14, 14);
}
#separator{
    position: absolute;
    left: 465px;
    top: 152px;
    font-size: 35px;
    font-weight: 400;
    color: rgb(14, 12, 12);
}
h3{
    top: 100px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(14, 13, 13);
}
#festival{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 690px;
    top: 90px;
}
#i1,#i2,#i3,#i4,#i5,#i6,#i7,#i8,#i9,#i10,#i11,#i12,#i13,#i14,#i15,#i16,#i17,#i18,#i19,#i20{
    background-color: white;
    display: inline-flex;
    cursor: pointer;
    height: 310px;
    border-radius: 0px;
    width: 320px;
    
}
#i1:hover,#i2:hover,#i3:hover,#i4:hover{
    background:  #f7f5f5;
    border-radius: 12px;
    transition-duration: 0.4s;
    top: -145px;
    box-shadow: 0px 4px 9px black;
}
#i6:hover,#i7:hover,#i8:hover,#i9:hover{
    background: #fdfdfd;
    border-radius: 12px;
    transition-duration: 0.4s;
    top: -595px;
    box-shadow: 0px 4px 9px black;
}
#i4:hover{
    background: #f7f5f5;
    border-radius: 12px;
    transition-duration: 0.4s;
    top: -265px;
    box-shadow: 0px 4px 9px black;
}
#i2:hover{
    background:  #f7f5f5;
    border-radius: 12px;
    transition-duration: 0.4s;
    top: -125px;
    box-shadow: 0px 4px 9px black;
}
#i5:hover{
    background: #f7f5f5;
    border-radius: 12px;
    transition-duration: 0.4s;
    top: -355px;
    box-shadow: 0px 4px 9px black;
}
#im1,#im2,#im3,#im6,#im7,#im8,#im9,#im10{
    width: 300px;
    height: 410px;
    border: 2px black solid;
    border-radius: 6px;
    
}
#im4{
    width: 300px;
    height: 160px;
    border: 2px black solid;
    top: -252px;

}
#im5{
    width: 300px;
    height: 222px;
    border: 2px black solid;
    left: 90px;
    top: -230px;
}

#row1,#row2{
    display: block;
    justify-content: space-around;
    margin: 20px;
}
#row1{
    top: 400px;
    left: 40px;
    width: 1285px;
}
#i1,#i2,#i3{
    left: -50px;
    width: 310px;
    top: -134px;
    height: 417px;
    
}
#im1{
    height: 280px;
    top: 100px;
    width: 280px;
    left: 15px;
    
}

#i2{
    top: -114px;
    left: -30px;
}
#i3{
    left: -10px;
    top: -133px;

}
#i4{
    left: 10px;
    top: -261px;
    width: 315px;
    background-color: white;
    border: 3px;
    height: 180px;
}

#i5{
    left: 963px;
    width: 315px;
    top: -343px;
    background-color: rgb(233, 237, 240);
    height: 209px;
}
#row2{
    display: block;
    top: 20px;
    height: 500px;
    left: 70px;
    width: 1270px;
}
#i6,#i7,#i8,#i9{
    left: 10px;
    width: 310px;
    top: -580px;
    height: 415px;
    left: 10px;
}
#i10{
    width: 1314px;
    left: 10px;
    top: -555px
}
#im10{
    left: 130px;
    top: 40px;
    width: 1085px;
    height: 250px;
}
#im11{
    width: 300px;
    height: 410px;
    border: 2px black solid;
    left: 30px;
    top: -350px;
}

#leftarrowimage{
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
}
#rightarrowimage{
    height: 100px;
    width: 100px;
    position: relative;
    top: 50px;
    left: 1170px;
}
#im2{
    width: 280px;
    height: 300px;
    border: none;
    top: 79px;
    left: 10px;
}
#im3{
   height: 280px;
   top: 100px;
   left: 5px;
}
#im4{
    width: 210px;
    height: 150px;
    left: 60px;
    top: 28px;

}
img{
    border: none;
}
#im5{
    top: 13px;
    left: 18px;
    width: 280px;
    height: 180px;
}
#im1,#im2,#im3,#im4,#im5,#im6,#im7,#im8,#im9,#im10{
    border: none;
}
#im6,#im7,#im8,#im9{
    height: 300px;
    width: 280px;
    left: 10px;
    top: 80px;
}
#i7{
    left: 30px;
    width: 310px;
    
}
#i8{
    left: 50px;
    width: 310px;
    
}
#i9{
    left: 70px;
    width: 310px;
}
#im8{
    left: 20px;
}
#im4,#im5{
    border-radius: 9px;
}
#continue{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 20px;
    left: 20px;
    top: -14px;
    font-weight: 600;

}
#link{
    position: absolute;
    left: 20px;
    top: 383px;
    font-size: 16px;
    color: rgb(0, 0, 255);
    font-weight: 500;
}
#row1{
    top: 280px;
}
#row2{
    position: relative;
    top: -50px;
    left: -60px;
}
#container{
    position:static;
}
header{
    position: fixed; 
    z-index: 3;
    top: 6px
}
#i11{
    display: inline-block;
    width: 1310px;
    height: 420px;
    background-color: white;
    top: -540px;
    left: 10px;
    justify-content: space-around;
    gap: 1px;
}
#multiimg>*{
    width: 210px;
    height: 310px;
    top: 80px;
    left: 20px;
}
#link1{
    position: absolute;
    left: 20px;
    top: 390px;
    font-size: 16px;
    color: rgb(0, 0, 255);
    font-weight: 500;
}  
#i12,#i13,#i14,#i15,#i16,#i17,#i18,#i19,#i20{
    display: inline-block;
    width: 800px;
    height: 430px;
    background-color: white;
    top: -540px;
    left: -24px;
}
#row3{
    display:flex;
    margin: 20px;
    top: 0px;
    left: 13px;
    width: 1311px;
    gap: 19px;
}
strong{
position: absolute;
left: 0px;
top: 10px;
font-size: 22px
}
#row4{
    display: flex;
    position: absolute;
    width: 1314px;  
    gap: 20px;  
    height: 1200px;
    top: 2260px;
    left: 10px;
    
}
#i16,#i17,#i18,#i19,#i20{
    top: 0px;
    width: 313px;
    left: -1px;
}
#im12,#im13,#im14,#im15{
    width: 300px;
    height: 310px;
    left: 5px;
    top: 70px;
}
#im16,#im17,#im18,#im19,#im20{
    width: 300px;
    height: 310px;
    left: 5px;
    top: 70px;
}
#customer{
    position: relative;
    top: -90px;
    left: 0px;
    overflow: hidden;
    width: 1357px;
    margin: 0px;
    padding: 0px;
    height: 560px;
    background-color: white;
}
#border-customers{
    position: relative;
    top: 0px;
    left: -1px;
    width: 1350px;
    height: 505px;
    border: rgba(150, 144, 144, 0.4) solid 1px;
    background-color: white;
    border-radius: 9px;
}
footer{
    position: relative;
    top: 2335px;
    height: 800px;
    left: -20px;
    width: 1357px;
    
}
#outer{
    background-color: white;
    height: 140px;
    top: 20px;
}
#texta{
    position: relative;
    top: 18px;
    height: 100px;
    border: 2px solid rgba(82, 82, 82, 0.3);
    border-radius: 5px;
}
i{
    position: absolute;
    top: 60px;
    left: 20px;
}

#back-to-top{
    position: absolute;
    background-color: #343956;
    width: 100%;
    color: white;
    font-size: 13px;
    height: 35px;
    left: -0px;
    font-weight: 600;
    text-align: center;
    padding-top: 15px;
}
#footer-lower{
    background-color: rgb(35, 47, 62);
    position: relative;
    top: 160px;
    height: 330px;
    color:white;
    display: flex;
    gap: 120px;
    justify-content: center;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
#rating-hide{
    width: 140px;
    overflow: hidden;
    height: 30px;
    left: -10px;
    top: 0px;
}
#black{
    color: black;
    font-size: 15px;
    position: relative;
    display: block;
    left: 25px;
    top: -90px;
}
#number-for{
    color: black;
    top: -100px;
    left: 150px;
}
#date{
    color: rgb(9, 10, 10);
    font-weight: 500;
    left: 60px;
    font-size: 15px;
    width: 150px;
    top: 20px;
    height: 100px;
}
#rating{
    height: 70px;
    width: 180px;
    left: -20px;
    top: -20px;
}
#column-1, #column-2, #column-3, #column-4{
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    top: 80px;
    
}
#column-1>*, #column-2>*, #column-3>*, #column-4>*{
    color: rgb(238, 230, 230);
    font-size: 15px;
    margin: d;
    
}
a:hover{
    text-decoration: underline;
}
#column-1-h3, #column-2-h3, #column-3-h3, #column-4-h3{
    font-size: 20px;
    font-weight: 600;
    width: 200px;
    left:d;
    top: -65px;
    color: rgb(246, 246, 246);

}
#view-1{
    display: inline-block;
    left: 20px;
    color: black;
    font-size: 15px;
    top:60px;
}
.discription{
    color: rgb(69, 141, 165);
    font-weight: 500;
    font-size: 13px;
    display: block;
}
#motorola{
    width: 250px;
    height: 200px;
    left: 25px;
    top: 10px;
}
#prev-btn,#next-btn{
    height: 45px;
    border: 1px solid black;
    width: 40px;
   border-radius: 9px;
   background-color: rgb(252, 252, 252);
   font-size: 25px;
   font-weight: 500;
}
#prev-btn{
    left: 40px;
    top: 280px;
}
#next-btn{
    left: 1170px;
    top: 280px;
}
#history-browsing{
    left: 60px;
}
#view-2{
    left: 20px;
    top: 5x;
    display: inline-block;
}
#g96rate{
    height: 100px;
    top: -0px;
    left: -15px;
}
#g96a{
    position: relative;
    top: -30px;
}
#count-g96{
    left: -20px;
    top: -45px;
}
#footer-lower-1{
    height: 100px;
    border: 1px solid ;
    position: relative;
    top: 159px;
    background-color: rgb(35, 47, 62);
}
#amazon-footer{
    width: 150px;
    position: absolute;
    left: 450px;
}